.cardrow {
  display: flex;
  overflow-x: scroll;
  /* margin-bottom: 30px; */
  overflow-y: hidden;
  width: 98%;
  align-self: center;
  color: aliceblue;
  /* background: blue; */
  font-family: monospace;
  /* margin-top: -10px; */
}

.cardrow::-webkit-scrollbar {
  display: none;
}

.rowtitle {
  text-align: start;
  color: rgb(255, 255, 255);
  margin-left: 10px;
}

.rowtitle h1 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.cardrow_main {
  font-weight: 300;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
