@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
.subtype h1 {
  color: rgb(0, 0, 0);
  font-size: 15px;
  margin-left: 15px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

.subtype {
  /* background-color: rgb(131, 197, 255); */
  display: flex;
}
